/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: boder-box;
}

/* bands */
.band {

}

.band.navigation {
    background: #343434;
}

.band.footer {
    background: #343434;
    color: #e0e0e0;
}

/* navigation */
nav ul,
nav ul li {
    margin: 0px;
}

nav select {
    display: none;
    width: 100%;
    height: 28px;
    margin: 21px 0;
}

nav ul li {
    display: inline;
    float: left;
    margin-bottom: 10px; 
    position: relative;
}
nav ul li a,
nav ul li a:visited,
nav ul li a:active {
    display: inline-block;
    line-height: 49px;
    padding: 0 14px;
    color: #ebebeb;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
}
nav ul li:hover a {
    background: #424242;
    cursor: pointer;
}

/* submenu */
nav ul ul {
    opacity: 0;
    filter: alpha(opacity=0);

    position: absolute;
    z-index: 999;
    min-width: 100%;
 
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;

    height: 0px;
    overflow: hidden;

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
nav ul ul li{
    float: none;
    display: list-item;
    border-bottom: 1px solid #383737;
}
nav ul ul li a{
    display: block;
    line-height: 35px;
    text-transform: none;
}

nav ul li:hover ul {
    opacity: 10;
    filter: alpha(opacity=100);

    height: auto;
    overflow: auto;
}
nav ul li:hover > a {
    background: #424242;
}

table.cal {
    margin-bottom: 28px;
}

table.cal th {
    background: #343434;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

table.cal td {
    border: 1px solid #343434;
    border-collapse: collapse;
}

table.cal td.afday{
    background: #99E699;
}

table.cal td.afspecial{
    background: #009933;
}

table.cal th,td {
    padding: 5px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    nav select {
		display: block;
	    }
	    nav ul {
		display: none;
	    }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/